---
---

@import 'normalize'
@import 'syntax'

// colors
$green: rgb(112, 185, 63)
$dark-blue: #373737
$light-blue: rgb(161, 172, 178)
$light-bg: rgb(240, 240,240)
$dark-gray: rgb(55, 55, 55)


// neat settings
$visual-grid: false
$visual-grid-color: yellow
$visual-grid-index: front
$visual-grid-opacity: 0.3

@import 'bourbon/bourbon'
@import 'neat/neat'

// styles
*
  @include box-sizing(border-box)

body, html
  font-family: "Trebuchet MS", sans-serif
  color: $dark-gray
  font-size: 16px
  background-color: #fff
  padding: 1em


h1, h2, h3, h4, h5, h6
  font-family: Palatino, serif

main
  @include span-columns(9)

figure
  margin-bottom: 1.33333333333em
  img
    max-width: 100%
    border-radius: 1em
  figcaption
    font-size: .75em
    text-align: right

.post-date
  float: right
  font-size: .75em
  margin-top: 0

.container
  @include outer-container

.post-excrepts
  list-style: none
  padding-left: 0

.contact-info
  @include span-columns(3)

.round-img
  width: 100%
  border-radius: 50%
