<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/base.css">
    <link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
    <h1>{{ page.title }}</h1>
    <main>

      {{ content }}

    </main>
    <aside class="contact-info">
      <img src="/img/julien-gantner.jpg" alt="Julien Gantner" class="round-img" />
      <div class="contact">
        <p>
          Julien Gantner<br />
          <a href="mailto:mail@julien-gantner.de">mail@julien-gantner.de</a>
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="https://github.com/JGantner">github.com/JGantner</a><br />
        </p>
      </div>
    </aside>
  </div>
  </body>
</html>
